<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<section id="contact" class="conteiner__card-footer">
  <div class="card-footer__description">
    <p class="card-footer__invitation">
      Gostaria de convidá-los a conhecer mais sobre nossa trajetória por meio dos links a seguir, onde poderão encontrar informações
      adicionais a nosso respeito e sobre os projetos que desenvolvemos. <br /><br />
      

      Atenciosamente,<br />
      TriDev.
    </p>
  </div>
  <div class="card-footer_contact">
    <div class="wrapper">
      <a href="https://www.linkedin.com/in/jonathan-costa-418073221/">
        <div class="icon Linkedin">
          <div class="tooltip">Linkedin</div>
          <span><i class="fab fa-linkedin"></i></span>
        </div>
      </a>
      <a href="https://github.com/JonathanSantos2000">
        <div class="icon github">
          <div class="tooltip">Github</div>
          <span><i class="fab fa-github"></i></span>
        </div>
      </a>
    </div>
  </div>
  <div class="card-footer__noCopy">
    <p>
      CopyRight © 2023 Jonathan Costa.<br />
      All rights reserved.
    </p>
  </div>
</section>
