.useTech {
  display: flex;
  align-items: center;
  padding: .2rem;

  & .title {
    color: #fcfc;
    font-size: 16px;
  }

  & .tools {
    display: flex;
    align-items: center;

    & img {
      height: 3rem;
      margin: 0 .5rem;
    }
  }
}
