<section class="conteiner__card-about-me" id="about">
  <div class="card">
    <div class="image-content">
      <span class="overlay"></span>
      <div class="card-image">
        <img
          src="../../../../assets/img/{{ urlImg }}"
          alt="{{ name }}"
          class="card-img"
        />
      </div>
    </div>
    <div class="card-content">
      <h2 class="name">{{ name }}</h2>
      <p class="description">
        {{ Texto }}
      </p>
      <button class="button">Saiba Mais</button>
    </div>
  </div>
</section>
