<header>
  <app-menu-bar></app-menu-bar>
</header>
<main>
  <section class="about">
    <app-section-about
      name="Breno"
      urlImg="em_breve.png"
      Texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar nunc non malesuada fermentum. Nullam lacus felis, viverra ac suscipit vitae, tempus id dui."
    ></app-section-about>
    <app-section-about
      name="Jonathan Costa"
      urlImg="Jonathan.png"
      Texto="Desenvolvedor web apaixonado, formando em Sistemas para Internet, em
  busca de desafios inovadores para aplicar conhecimentos em programação,
  design e banco de dados."
    ></app-section-about>
    <app-section-about
      name="Mateus"
      urlImg="em_breve.png"
      Texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar nunc non malesuada fermentum. Nullam lacus felis, viverra ac suscipit vitae, tempus id dui."
    ></app-section-about>
  </section>
  <section class="section-works">
    <app-section-works></app-section-works>
  </section>
</main>

